@import 'src/styles/colors.scss';
@import 'src/styles/icons.scss';

:host {
    position: fixed;
    z-index: 10;
    width: 100%;
}

::ng-deep .top-menu-bar {
    > div.p-menubar.p-component {
        background-color: lighten($primary-color, 35%); // #e5f1fd
        box-shadow: 0 0 2px 0.2px;
        
        .p-menubar-item-content {
            border-radius: 9px;
            // background-color: lighten($primary-color, 35%);

            &:hover {
                background-color: lighten($primary-color, 25%);
            }
        }

        .p-menubar-item-content, .p-menubar-submenu-icon {
            color: $black-rock-font-dark;
        }
    }
}
