@import 'src/styles/colors.scss';

:host {
    position: fixed;
    z-index: 10;
    width: 100%;
}

// Ħ   Variaveis   Ħ
$primary-lighten: lighten($primary-color, 35%); // #e5f1fd

::ng-deep .top-menu-bar {
    > div.p-menubar.p-component {
        background-color: $primary-lighten;
        box-shadow: 0 0 2px 0.2px;
        
        .p-menubar-item-content {
            border-radius: 9px;
            // background-color: lighten($primary-color, 35%);

            &:hover {
                background-color: lighten($primary-color, 25%);
            }
        }

        .p-menubar-item-content, .p-menubar-item-icon {
            color: $black-rock-font-dark;
        }

        .p-menubar-submenu {
            background-color: $primary-lighten;
        }
    }
}
