@import 'src/styles/colors.scss';

:host {
    position: fixed;
    z-index: 10;
    width: 100%;
}

// Ħ   Variaveis   Ħ
$primary-lighten: lighten($primary-color, 35%); // #e5f1fd

::ng-deep .top-menu-bar {
    > div.p-menubar.p-component {
        background-color: $primary-lighten;
        box-shadow: 0 0 2px 0.2px;

        .p-menubar-item-content {
            cursor: pointer;
            padding: 0.5rem;
            border-radius: 9px;

            &:hover {
                background-color: lighten($primary-color, 25%);
            }
            
            .p-menuitem-link {
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }
        }

        .p-menubar-item-content, .p-menubar-item-icon {
            color: $black-rock-font-dark;
        }

        .p-menubar-submenu {
            background-color: $primary-lighten;
        }
        
    }
   
}
