:host {
    display: flex;
    align-items: center;
    width: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
}
