<div
	class="w-100 top-bar sticky top-0 flex h-14 items-center justify-end gap-6 bg-white pr-14"
>
	<span
		(click)="openBar()"
		class="color-tertiary-lighteen flex cursor-pointer items-center gap-2 font-bold"
	>
		<ng-icon name="gameIdCard" size="1.4em" style="margin-bottom: 2px;"></ng-icon>
		<p class="!mb-0">{{ "sign-up" | translate }}</p>
	</span>
	<span
		(click)="openBar()"
		class="color-tertiary-lighteen flex cursor-pointer items-center gap-2 font-bold"
	>
		<ng-icon name="featherLogIn" size="1.4em" style="margin-bottom: 2px;"></ng-icon>
		<p class="!mb-0">{{ "login" | translate }}</p>
	</span>
</div>
