@import 'src/styles/colors.scss';

:host {
    min-height: 100%; /* Evitar colapsar */
}

::ng-deep {
    // Tab Login
    .tab-login {
        &.p-tab-active {
            color: $primary-color;
            border-color: $primary-color;
        }
        &.p-tab:not(.p-disabled):focus-visible {
            box-shadow: 0 0 0 0.2rem $primary-light;
        }
    }

    // .tab-login.p-tab:not(.p-tab-active) {
    //     color: $primary-light;
    // }

    // Tab Signup
    .tab-signup {
        &.p-tab-active {
            color: $secondary-color;
            border-color: $secondary-color;
        }
        &.p-tab:not(.p-disabled):focus-visible {
            box-shadow: 0 0 0 0.2rem $secondary-light;
        }

    }

    // .tab-signup.p-tab:not(.p-tab-active) {
    //     color: $secondary-light;
    // }

    .drawer-login {
        > div {
            display: flex;
            flex-direction: column;
        }
    }


}

.filling {
    // height: 100%;
    // width: 100%;
    // display: flex;
    // margin-top: auto;
    background: linear-gradient(149deg, white 0%, #f2f6fb 39%, $primary-color 80%, $secondary-color 100%);
}

/* Darkmode
::ng-deep {
    // Tab Login
    .tab-login.p-tab-active {
        color: $primary-light;
        border-color: $primary-light;
    }
    .tab-login.p-tab:not(.p-tab-active) {
        color: $font-blue-light;
    }

    // Tab Signup
    .tab-signup.p-tab-active {
        color: $secondary-light;
        border-color: $secondary-light;
    }
    .tab-signup.p-tab:not(.p-tab-active) {
        color: $secondary-light;
    }
}
**/
