@import '@styles/colors.scss';

::ng-deep {
    // Tab Login
    .tab-login.p-tab-active {
        color: $primary-color;
        border-color: $primary-color;
    }
    .tab-login.p-tab:not(.p-tab-active) {
        color: $primary-color-light;
    }

    // Tab Signup
    .tab-signup.p-tab-active {
        color: $secondary-color;
        border-color: $secondary-color;   
    }

    .tab-signup.p-tab:not(.p-tab-active) {
        color: $secondary-color-light;
    }

    .drawer-login {
        > div {
            display: flex;
            flex-direction: column;
        }
    }
}

.filling {
    height: 100%;
    width: 100%;
    display: flex;
    background: linear-gradient(149deg, white 0%, #f2f6fb 39%, $primary-color 80%, $secondary-color 100%);
    margin-top: auto;
}

/* Darkmode
::ng-deep {
    // Tab Login
    .tab-login.p-tab-active {
        color: $primary-color-light;
        border-color: $primary-color-light;
    }
    .tab-login.p-tab:not(.p-tab-active) {
        color: $font-blue-light;
    }

    // Tab Signup
    .tab-signup.p-tab-active {
        color: $secondary-color-light;
        border-color: $secondary-color-light;   
    }
    .tab-signup.p-tab:not(.p-tab-active) {
        color: $font-red-light;
    }
}
**/