<mat-drawer-container class="w-full h-full">
  <app-top-login [(opened)]="opened" class="sticky z-10"></app-top-login>

  <ng-content #conteudo></ng-content>

  <mat-drawer #drawer [opened]="opened" (closedStart)="opened = false" [autoFocus]="true" position="end" [mode]="'over'">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">{{ 'login' | translate }}</p-tab>
        <p-tab value="1">{{ 'sign-up' | translate }}</p-tab>
      </p-tablist>

      <p-tabpanels>
        <p-tabpanel value="0">
          <ng-container [ngTemplateOutlet]="login"></ng-container>
        </p-tabpanel>

        <p-tabpanel value="1">
          <ng-container [ngTemplateOutlet]="signUp"></ng-container>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </mat-drawer>
</mat-drawer-container>

<ng-template #login>
  <form class="columns-12 p-4 space-x-4" [formGroup]="formLogin" (ngSubmit)="onSubmit('login')">
    <p-floatlabel class="columns-12" variant="on">
      <input pInputText type="text" formControlName="email" />
      <label>{{ 'email' | translate }}</label>
    </p-floatlabel>

    <p-floatlabel class="columns-12" variant="on">
      <input pInputText type="text" formControlName="password" />
      <label>{{ 'password' | translate }}</label>
    </p-floatlabel>
  </form>
</ng-template>

<ng-template #signUp>
  <form class="columns-12 p-4 space-x-4" [formGroup]="formSignUp" (ngSubmit)="onSubmit('login')">
    <div class="columns-12">
      <p-floatlabel class="columns-6" variant="on">
        <input pInputText type="text" formControlName="email" />
        <label>{{ 'email' | translate }}</label>
      </p-floatlabel>

      <p-floatlabel class="columns-6" variant="on">
        <input pInputText type="text" formControlName="email" />
        <label>{{ 'email' | translate }}</label>
      </p-floatlabel>
    </div>

    <div class="columns-12">
      <p-floatlabel class="columns-12" variant="on">
        <input pInputText type="text" formControlName="password" />
        <label>{{ 'password' | translate }}</label>
      </p-floatlabel>

      <p-floatlabel class="columns-12" variant="on">
        <input pInputText type="text" formControlName="confirmPassword" />
        <label>{{ 'confirmPassword' | translate }}</label>
      </p-floatlabel>
    </div>
  </form>
</ng-template>

