<mat-drawer-container class="w-full h-full">
  <app-top-login [(opened)]="opened" class="sticky z-10"></app-top-login>

  <ng-content #conteudo></ng-content>

  <mat-drawer #drawer [opened]="opened" (closedStart)="opened = false" [autoFocus]="true" position="end" [mode]="'over'">
    <p-tabs value="0">
      <p-tablist>
        <p-tab class="w-1/2 flex justify-center tab-login" value="0">{{ 'login' | translate }}</p-tab>
        <p-tab class="w-1/2 flex justify-center tab-signup" value="1">{{ 'sign-up' | translate }}</p-tab>
      </p-tablist>

      <p-tabpanels>
        <p-tabpanel value="0">
          <ng-container [ngTemplateOutlet]="login"></ng-container>
        </p-tabpanel>

        <p-tabpanel value="1">
          <ng-container [ngTemplateOutlet]="signUp"></ng-container>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </mat-drawer>
</mat-drawer-container>

<ng-template #login>
  <form class="columns-12 p-4" [formGroup]="formLogin" (ngSubmit)="onSubmit('login')">
    <div>
      <p-floatlabel variant="on">
        <input pInputText type="text" formControlName="email" />
        <label>{{ 'email' | translate }}</label>
      </p-floatlabel>
    </div>
    <div>
      
    </div>
  </form>
</ng-template>

<ng-template #signUp>

</ng-template>

