<div class="page-ctn flex flex-col">
	<div class="flex flex-col gap-20">
		<div
			#cardWhatIs
			class="cards-info card-blue flex flex-1 flex-col items-center justify-center"
			[@slideInRight]="whatIsVisible() ? 'visible' : 'hidden'"
			[style.opacity]="whatIsVisible() ? null : 0"
		>
			<ng-container
				*ngTemplateOutlet="
					card;
					context: {
						title: 'landing-page.example.header' | translate,
						subtitle: 'landing-page.example.sub-title' | translate,
						content: 'landing-page.example.content' | translate,
					}
				"
			></ng-container>
		</div>

		<div
			#cardPokemon
			class="cards-info card-red flex flex-1 flex-col items-center justify-center"
			[@slideInLeft]="aboutPokeVisible() ? 'visible' : 'hidden'"
			[style.opacity]="aboutPokeVisible() ? null : 0"
		>
			<ng-container
				*ngTemplateOutlet="
					card;
					context: {
						title: 'landing-page.example.header' | translate,
						subtitle: 'landing-page.example.sub-title' | translate,
						content: 'landing-page.example.content' | translate,
					}
				"
			></ng-container>
		</div>

		<div 
			#cardItems
			class="cards-info card-blue flex flex-1 flex-col items-center justify-center"
			[@slideInRight]="aboutItemsVisible() ? 'visible' : 'hidden'"
			[style.opacity]="aboutItemsVisible() ? null : 0"
		>
			<ng-container
				*ngTemplateOutlet="
					card;
					context: {
						title: 'landing-page.example.header' | translate,
						subtitle: 'landing-page.example.sub-title' | translate,
						content: 'landing-page.example.content' | translate,
					}
				"
			></ng-container>
		</div>

		<div 
			#cardTeams
			class="cards-info card-red flex flex-1 flex-col items-center justify-center"
			[@slideInLeft]="abountTeamsVisible() ? 'visible' : 'hidden'"
			[style.opacity]="abountTeamsVisible() ? null : 0"
		>
			<ng-container
				*ngTemplateOutlet="
					card;
					context: {
						title: 'landing-page.example.header' | translate,
						subtitle: 'landing-page.example.sub-title' | translate,
						content: 'landing-page.example.content' | translate,
					}
				"
			></ng-container>
		</div>
	</div>
</div>

<ng-template #card let-title="title" let-subtitle="subtitle" let-content="content">
	<h1 class="!mb-0 !font-extrabold" for="title">{{ title }}</h1>
	<h3 style="font-size: 1.7rem">{{ subtitle }}</h3>
	<p>{{ content }}</p>
</ng-template>
