@import 'src/styles/colors.scss';

// Placeholders
%base-card {
  // height: 20rem;
  padding: 2rem;
  border-radius: 48px;
  width: 70%;

  &:hover {
    cursor: pointer;
    transform: translateY(-1rem);
    transition: transform 0.2s ease-out;
  }
  &:not(:hover) {
    transform: translateY(0);
    transition: transform 0.2s ease-out;
  }
}

.overlayed {
  background-image: linear-gradient(#111111, #000 15%);
  box-shadow: 0 0 14px 2px;
}

.sub-title-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
}

.landing-title {
  #b1 {
    text-shadow: 0 0 14px red;
  }

  #b2 {
    text-shadow: 0 0 14px white;
  }
}

.page-ctn {
  display: flex;
  flex-direction: column;
  margin-top: 45%;
  padding: 8%;
  background-color: $bg-dark;
}

.cards-info {
  &.card-blue {
    @extend %base-card;
    background-color: $gainsboro-light;
    border: solid 6px $primary-color;
    box-shadow: -8px 6px 5px 1px $primary-color;
  }

  &.card-red {
    @extend %base-card;
    margin-left: auto;
    background-color: $secondary-light;
    border: solid 6px $secondary-color;
    box-shadow: 8px 6px 5px 1px $secondary-color;
  }

  // &.about-items {
  //   @extend %base-card;
  //   background-color: $gainsboro-light;
  //   border: solid 6px $primary-color;
  //   box-shadow: -8px 6px 5px 1px $primary-color;
  // }

  // &.about-teams {
  //   @extend %base-card;
  //   margin-left: auto;
  //   background-color: $secondary-light;
  //   border: solid 6px $secondary-color
  //   box-shadow: 8px 6px 5px 1px $secondary-color
  // }
}
