// Main Colors
$primary-color: #6699CC; // Danube
$secondary-color: #FF3C38; // Red Orange
$tertiary-color: #8e70e0; // Medium Purple

$jaffa-accent: #FF8C42;

// Light Colors
$primary-light: #F8FAFC; // Jordy Blue
$secondary-light: #FF8E8E; // Geraldine
$tertiary-light: #E2D8FF; // Moon Raker
$gainsboro-light: #DCE3EA;

// Dark Colors
$chocolate-dark: #380303;

// Backgrounds
$alabaster-bg-light: #FBFBFB; 
$bg-dark: #262626; // Shark
$bunker-bg-dark: #18181b;
$bg-gray-light: #dddddd; // Alto

// Main Font Colors
$shark-font-dark: #27272a;
$black-font-dark: #000;

// Font Colors (Dark)
$black-rock-font-dark: #18002E;
$sepia-black-font-dark: #2E0000;
$bunker-font-dark: #171719;
$black-pearl-font-dark: #031727;

// Font Colors (Light)
$pippin-font-light: #FFE7E7;
$spindle-font-light: #C2D6EB;
$violet-eggplant-font-light: #820082;
