// Main Colors
$primary-color: #6699CC; // Danube 
$secondary-color: #FF3C38; // Red Orange
$tertiary-color: #8e70e0; // Medium Purple

$other-color: #FF8C42; // Jaffa

// Lighteen colors
$primary-color-light: #91C6FF; // Jordy Blue
$secondary-color-light: #FF8E8E; // Geraldine
$tertiary-color-light: #E2D8FF; // Moon Raker
$primary-color-lighteen: #DCE3EA; // Gainsboro

// Darkeen colors
$secondary-color-dark: #380303; // Chocolate

// Backgrounds
$background-1: #262626; // Shark
$black-background: #18181b; // Bunker
$background-light-gray: #dddddd; // Alto

// Main Font Colors
$font-color: #27272a; // Shark
$font-black: #000; // Black

// Font Colors (dark)
$font-purple-dark: #18002E; // Black Rock
$font-red-dark: #2E0000; // Sepia Black

// Font Colors (light)
$font-red-light: #FFE7E7; // Pippin
$font-blue-light: #C2D6EB; // Spindle
$font-purple-light: #820082; // Violet Eggplant
