.pokeball-icon {
    mask: url('../assets/icons/svg/output-resize-image.svg');
    -webkit-mask: url('../assets/icons/svg/output-resize-image.svg');
    mask-size: cover;
    -webkit-mask-size: cover;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: currentColor;
}