@import "@styles/colors.scss";

app-sign-side {
  display: flex;
  flex-direction: column;
}

// Placeholders
%base-card {
	// height: 20rem;
	padding: 2rem;
	border-radius: 48px;
	width: 70%;

	&:hover {
		cursor: pointer;
		transform: translateY(-1rem);
		transition: transform 0.2s ease-out;
	}
	&:not(:hover) {
		transform: translateY(0);
		transition: transform 0.2s ease-out;
	}
}

.mat-drawer-container {
	background-color: $background-1;
}

.overlayed {
	background-image: linear-gradient(#111111, #000 15%);
	box-shadow: 0 0 14px 2px;
}

.sub-title-text {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 400;
}

.landing-title {
	#b1 {
		text-shadow: 0 0 14px red;
	}

	#b2 {
		text-shadow: 0 0 14px white;
	}
}
