<app-sign-side [(opened)]="openLogin">
  <div class="overlay items-center" style="height: 90%; width: 100%">
    <div class="items-center flex flex-col z-10">
      <h1 class="text-white landing-title" style="font-size: 4.8rem">
        Pokemon <b class="font-bolder text-red-500 border-white" id="b1">P</b><b id="b2" class="font-bolder border-red-600">C</b>
      </h1>
      <div class="flex gap-2 text-white">
        <h3 class="sub-title-text">{{ "landing-page.sub-title" | translate }}</h3>
        <a class="sub-title-text text-red-500" [href]="authorGithub"><b>Soueth</b></a>
      </div>
      <button (click)="openLogin = !openLogin">
        {{ "sign-in" | translate }}
      </button>
    </div>
    <div class="overlayed">
      <img src="images/landing-page1.jpg" alt="" />
    </div>
  </div>
</app-sign-side>

