@import '@styles/colors.scss';

.overlayed {
  background-image: linear-gradient(#111111, #000 15%);
  box-shadow: 0 0 14px 2px;
}

.sub-title-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
}

.landing-title {
  #b1 {
    text-shadow: 0 0 14px red;
  }

  #b2 {
    text-shadow: 0 0 14px white;
  }
}

.page-ctn {
  display: flex;
  flex-direction: column;
  min-height: 45%;
  // justify-content: flex-end;
  background-color: $background-1;
}

.cards-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 20rem;
}
